<div class="InformationPages">
                <div class="imgg col-md 12 col-sm-3">
                    <div class="">
           <img src="./assets/Camera Vision System.png" alt="" width="100%" height="300px">
          </div>
        </div>
       <div class="ImageContent col-md 12 col-sm-3">
        <div class="">
            <mat-card class="mat-elevation-z0 outline col-md 12 col-sm-8">
                <mat-card-content
                  style="font-size: 15px;font-family: var(--bs-font-sans-serif);  color: #212121;text-align:justify;">
            <h2 style="font-weight: 400;">
                Camera VISION Systems
                </h2><br>
                <p style="text-indent: 1.5cm;">
                    Machine Vision products include vision systems, smart cameras, frame grabbers, and vision interfaces designed for a wide range of applications,
                     such as assembly verification, object tracking and vision-guided robotics.
                </p>
                </mat-card-content>
                </mat-card>
          </div>
        </div>      
    </div>   
    
    
    
     