<div class="InformationPages"> 
          <div class="imgg col-md 12 col-sm-3">
            <div class="">
           <img src="./assets/SPM.jpg" alt="" width="100%" height="300px"  onClick="window.open(this.src)" role="button">
          </div>
         </div>
       <div class="ImageContent col-md 12 col-sm-3">
        <div class="">
            <mat-card class="mat-elevation-z0 outline col-md 12 col-sm-8">
                <mat-card-content
                  style="font-size: 15px;font-family: var(--bs-font-sans-serif); color: #212121;text-align:justify;">
            <h2 style="font-weight: 400;">
                Special Purpose Machine (SPM)
                </h2><br>
                <p style="text-indent: 1.5cm;">
                Special Purpose Machines (SPM) are those machine which are not available off the shelf. These are not covered in standard manufacturing programs. 
                Therefore those have to be designed & tailor made as Per the customer’s specific requirements.
          </p>
          </mat-card-content>
          </mat-card>
            </div>
        </div>       
    </div>   
    
    
    
     