<div class="InformationPages">  
  <!-- <div>
    <img src="https://www.morrisminor.org.uk/userfiles/product_asset/.enlarged/5994641ac2ec0-bg4a.jpg" alt="" style="height:334px; width:470px;left:4px; margin-top:30px;"> -->
        <div class="imgg col-md 12 col-sm-3">
          <div class="">
         <img src="./assets/QT.PNG" alt="" width="100%" height="300px"  onClick="window.open(this.src)" role="button">
        </div>
        </div>
        <!-- </div> -->
     <div class="ImageContent col-md 12 col-sm-3">
       <div class="">
        <mat-card class="mat-elevation-z0 outline col-md 12 col-sm-8">
          <mat-card-content
            style="font-size: 15px;font-family: var(--bs-font-sans-serif);  color: #212121;text-align:justify;">
          <h2 style="font-weight: 400;">
             QT
              </h2><br>
               <p style="text-indent: 1.5cm;">
                Qt is a widget toolkit for creating graphical user interfaces as well as cross-platform applications that run on various software and hardware platforms such as Linux, Windows, macOS, Android or embedded systems with little or no change in the underlying codebase while still being a native application with native capabilities and speed.
              </p>
              <p style="text-indent: 1.5cm;">
                Other features include SQL database access, XML parsing, JSON parsing, thread management and network support.
              </p>
              </mat-card-content>
          </mat-card>
        </div>
      </div>    
  </div>   
  
  
  
   