<div class="InformationPages">  
  <!-- <div>
    <img src="https://www.morrisminor.org.uk/userfiles/product_asset/.enlarged/5994641ac2ec0-bg4a.jpg" alt="" style="height:320px; width:470px;left:4px; margin: top 27px;px;"> -->
        <div class="imgg col-md 12 col-sm-3">
          <div class="">
         <img src="./assets/Machine monitoring.png" alt="" width="100%" height="auto"  onClick="window.open(this.src)" role="button">
        </div>
        </div>
        <!-- </div> -->
     <div class="ImageContent col-md 12 col-sm-3">
      <div class="">
      <mat-card class="mat-elevation-z0 outline col-md 12 col-sm-8">
        <mat-card-content
          style="font-size: 15px;font-family: var(--bs-font-sans-serif);  color: #212121;text-align:justify;">
          <h2 style="font-weight: 400;">
            Machine Monitoring</h2>
          <p styel="text-indent:1.5cm">
            Supervisory control and data acquisition (SCADA) is a control system architecture comprising computers, networked data communications and graphical user interfaces for high-level supervision of machines and processes. 
          </p>
              <p style="text-indent: 1.5cm;">
                It also covers sensors and other devices, such as programmable logic controllers, which interface with process plant or machinery.
              </p>
              </mat-card-content>
              </mat-card>
              </div>  
        </div>
      </div>
      

  
  
  
   