<!-- <head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css">
  <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
  <script src="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
</head> -->
<div class="InformationPages">
  <!-- <div fxLayout.xs="column" style="display:flex; flex-direction: row;"> -->
    <div class="imgg col-md 12 col-sm-3">
      <div class="">
      <img src="./assets/Industrial 4.0.jpg" alt="" width="100%" height="310px" 
      onClick="window.open(this.src)" role="button" style="padding-bottom: 0%;margin-bottom: 40px;" >
    </div>
    </div>
    <div class="ImageContent col-md 12 col-sm-3">
      <div class="">
      <mat-card class= "mat-elevation-z0 outline col-md 12 col-sm-8">
        <mat-card-content
          style="font-size: 15px; font-family: var(--bs-font-sans-serif);  color: #212121;text-align:justify;">
          <h3> Industrial Internet of Things (IIoT) </h3>
          <p style="text-indent:1cm;font-weight: 500;">
            connects your people, products, and processes to power digital transformation.
            Using industrial IoT platforms, companies connect, monitor, analyze, and act on data in new ways.
          </p>
          <p style="text-indent:1cm; font-weight: 500;">
            You can start fast with digital transformation,to how they create value and engage with
            customers.</p>
        </mat-card-content>
    </mat-card>
    </div>
    </div>
  <!-- </div> -->
</div>


