<div class="InformationPages">
        <div class="imgg col-md 12 col-sm-3">
            <div class="">
            <img src="./assets/HeatFlowMeter QT BASED.png" alt="" width="100%" height="300px" onClick="window.open(this.src)" role="button">
        </div>
        </div>
        <div class="ImageContent col-md 12 col-sm-3">
            <div class="">
            <mat-card class="mat-elevation-z0 outline col-md 12 col-sm-8">
                <mat-card-content
                  style="font-size: 15px;font-family: var(--bs-font-sans-serif);  color: #212121;text-align:justify;">
            <h2 style="font-weight: 400;">
                PLC Based Automation
            </h2><br> 
            <p style="text-indent: 1.5cm;">
                A PROGRAMMABLE LOGIC CONTROLLER (PLC) is an industrial computer control system that continuously
                monitors the state of input devices
                and makes decisions based upon a custom program to control the state of output devices.
            </p>
            <p style="text-indent: 1.5cm;">
                Almost any production line, machine function, or process can be greatly enhanced using this type of
                control system. However, the biggest benefit in using a PLC is the ability to change and
                replicate the operation or process while collecting and communicating vital information.
            </p>
            <p style="text-indent: 1.5cm;">
                Another advantage of a PLC system is that it is modular. That is, you can mix and match the types of
                Input and Output devices to best suit your application.
            </p>
            <p style="text-indent: 1.5cm;">
                We have developed controlled systems using various brands of PLC such as Siemens, Mitsubishi Electric,
                Schneider Electric, ABB, Delta etc.
            </p>
        </mat-card-content>
        </mat-card>
        </div>
    </div>
</div>