<div class="InformationPages">
          <div class="imgg col-md 12 col-sm-3">
            <div class="">
           <img src="./assets/Embedded design.png" alt="" width="100%" height="310px"  onClick="window.open(this.src)" role="button">
          </div>
          </div>
       <div class="ImageContent col-md 12 col-sm-3">
        <div class="">
            <mat-card class="mat-elevation-z0 outline col-md 12 col-sm-8">
                <mat-card-content
                  style="font-size: 15px;font-family: var(--bs-font-sans-serif); color: #212121;text-align:justify;">   
            <h2 style="font-weight: 400;">
               Custom Development
                </h2><br>
                <p style="text-indent: 1.5cm;">
                    Embedded systems refer to electronic products that are based on microcontrollers. They possess computational logic, memories, communications, I/O peripherals and are usually used for a specific function. A washing machine is an embedded system. The same goes for your smartphone, 
                    security access system, vending machine, and possibly any ‘intelligent’ appliances. 
                </p>
                <p style="text-indent: 1.5cm;">
                    Embedded systems design is the process where hardware and firmware designers come together to build embedded systems from scratch. This involves PCB design, where the necessary components are connected to build functional circuits. 
                    To bring the electronics to life,the firmware is coded and then programmed into the microcontroller.
               </p>
               </mat-card-content>
               </mat-card>
          </div>
        </div>       
    </div>   
    
    
    
     