<div class="InformationPages">  
    <!-- <div>
      <img src="https://www.morrisminor.org.uk/userfiles/product_asset/.enlarged/5994641ac2ec0-bg4a.jpg" alt="" style="height:350px; width:470px;left:4px; margin-top:50px;"> -->
          <div class="imgg col-md 12 col-sm-3">
            <div class="">
           <img src="./assets/Industrial 4.0.jpg" alt="" width="100%" height="310px"  onClick="window.open(this.src)" role="button">
          </div>
          </div>
          <!-- </div> -->
       <div class="ImageContent col-md 12 col-sm-3">
      <div class="">
        <mat-card class="mat-elevation-z0 outline col-md 12 col-sm-8">
            <mat-card-content
              style="font-size: 15px;font-family: var(--bs-font-sans-serif);  color: #212121;text-align:justify;">
            <h2 style="font-weight: 400;">
                IoT Enabled Devices.
                </h2><br>
                <p style="text-indent: 1.5cm;">
                    IoT devices are pieces of hardware, such as sensors, actuators, gadgets, appliances, or machines, that are programmed 
                    for certain applications and can transmit data over the internet or other networks. They can be embedded into other mobile devices, industrial equipment, environmental sensors, medical devices, and more.
                </p>
                <p style="text-indent: 1.5cm;">
                    Many of these devices are small, power- and cost-constrained microcontroller-based systems. Network bandwidth and consumer expectations around data privacy and user experience continue to demand more on-device
                     processing, where data is processed on the IoT endpoint, rather than using cloud-based approaches.
                </p>
                </mat-card-content>
                </mat-card>
                    </div>
        </div>   
    </div>   
    
    
    
     