<div class="InformationPages">
  <div fxLayout="row wrap" style="display:flex; flex-direction: row;"> 
    <!-- <hr class="clearfix w-60 d-md-none pb-2"> -->
   <div class="imgg">
  <img src="/assets/embone-logo/embone-logo.jpg" alt="" width="200px" height="200px" 
  onClick="window.open(this.src)" role="button" style="padding-bottom: 0%;margin-bottom: 40px;" >   
</div>
<!-- <hr class="clearfix w-60 d-md-none pb-2"> col-md-3 mb-md-0 mb-2-->
<div class="ImageContent">
<mat-card class="mat-elevation-z0 outline col-md 12
 col-sm-3">
  <mat-card-content
  style="margin-right: 10px;font-size: 15px;font-family: var(--bs-font-sans-serif);  color: #212121;text-align:justify;width: 300PX;">         
<div class="address" style="height:100px;">
    <p class="reachUs">Reach Us</p>
    <div class="FM_add" style="display:flex; flex-direction: row;">
      <mat-icon class="contactIcon">room</mat-icon>
      <p style=" font-weight: 500;">
        4th Floor, Heera Heights, <br>Opposite to Maratha Mandir, <br>Bavdhan,
        Pune-411021, Maharashtra, <br>INDIA.
      </p><br>
    </div>
    <div class="FM_add" style="display:flex; flex-direction: row;">
      <mat-icon class="contactInfo">account_circle</mat-icon>
      <p style=" font-weight: 500;">
      Nilesh Pardhe(Propritor).
      </p>
    </div>

    <div class="FM_add" style="display:flex; flex-direction: row;">
      <mat-icon class="contactMail">mail</mat-icon>
      <p style=" font-weight: 500;">
        info.embone@gmail.com
      </p>
  </div>
  <div class="FM_add" style="display:flex; flex-direction: row;">
    <mat-icon class="call">call</mat-icon>
   <p style=" font-size: 500;">
    +917972418826
   </p>
   </div>
   <div class="info">
  <a href="https://www.indiamart.com/embone-technologies/"> Our IndiaMART Website</a>
</div>
  </div>
  </mat-card-content>
  </mat-card>
  </div>
  </div>
  </div>
  
  
  