<footer class="page-footer font-small teal pt-2">
    <div class="text-md-left p-3" style="background-color:rgba(0, 0, 0, 0.2)">
    <div class="container-fluid text-center text-md-left">
      <div class="row">
        <hr class="clearfix w-60 d-md-none pb-2 ">
        <div class="col-md-3 mb-md-0 mb-2">
            <img src="./assets/TransperantLogoEmboneTechnologies.png" alt="" height="200px" width="200px" margin-top="25px" >
            </div>

              <hr class="clearfix w-60 d-md-none pb-2">
      <div class="col-md-3 mb-md-0 mb-2">
          <h6 class="font-weight-bold">Solutions </h6>
          <p class="footerData " >Industrial Automation<br>
          - PC Based Automation Solution<br>
          -SCADA System<br>
          -NI LabVIEW<br>
          -QT<br>
          -PLC Based Automation<br>
          -Camera Vision System<br>
          -SPM<br>
          Embedded Design<br>
         -Product Development<br>
         -IoT Gateways<br>
         -IoT Enabled Devices<br>
        </div>

        <hr class="clearfix w-80 d-md-none pb-2">
        <div class="col-md-3 mb-md-0 mb-2">
          <h6 class="font-weight-bold">EmbOne Technologies,Pune</h6>
         <p class="footerData">4th Floor, Heera Heights,<br>Opposite to Maratha Mandir, <br>Bavdhan, Pune-411021, Maharashtra, <br>INDIA.
          <div class="FM_add" style="display:flex; flex-direction: row;">
          <mat-icon class="mail">mail</mat-icon>
          <p class="infoData">info.embone@gmail.com</p>
          </div>
          <div class="FM_add" style="display:flex; flex-direction: row;">
          <mat-icon class="call">call</mat-icon>
         <p class="infoData">+917972418826</p>
         </div>
         <div class="FM_add" style="display:flex; flex-direction: row;">
          <a href="https://www.indiamart.com/embone-technologies/"> Our IndiaMART Website</a>
        </div>
      </div>
      
        <hr class="clearfix w-80 d-md-none pb-2">
        <div class="col-md-3 mb-md-0 mb-2">
          <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15133.499994831156!2d73.7825258!3d18.5119486!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xdce563872011cead!2sEmbone%20Technologies!5e0!3m2!1sen!2sin!4v1638862075647!5m2!1sen!2sin" width="280" height="340" style="border:0;" allowfullscreen="true" loading="lazy"></iframe>
      </div>
      </div>
      </div>
      </div>
      <div class="text-center1 p-3" style="background-color:#000;">
        © 2022 Copyright:
      <a href="http://embonetech.in/"> embonetech.in</a>
    </div>
  </footer>