<div class="InformationPages">
        <div class="imgg col-md 12 col-sm-3">
        <div class="">
         <img src="./assets/IoT gateway.png" alt="" width="100%" height="310px"  onClick="window.open(this.src)" role="button">
        </div>
        </div>
     <div class="ImageContent col-md 12 col-sm-3">
      <div class="">
        <mat-card class= "mat-elevation-z0 outline col-md 12 col-sm-8">
          <mat-card-content
          style="font-size: 15px; font-family: var(--bs-font-sans-serif);  color: #212121;text-align:justify;">
          <h2 style="font-weight: 400;">
             IoT Gateways</h2>
           <p style = "text-indent:1.5cm;">
              An IoT Gateway is a solution for enabling IoT communication, usually device -to-device communications or device-to-cloud communications. The gateway is typically 
              a hardware device housing application software that performs essential tasks. At its most basic level, the gateway facilitates the connections between different data sources and destinations.
              </p>
              <p style = "text-indent:1.5cm;">
              A simple way to conceive of an IoT Gateway is to compare it to your home or office network router or gateway. Such a gateway facilitates communication between your devices, maintains security
              and provides an admin interface where you can perform basic functions. An IoT Gateway does this and much more.
             </p> 
            </mat-card-content>
          </mat-card>
         </div>
        </div>
      </div>
 
  
  
  
   