<div class="InformationPages">
    
     <!-- <div>
       <img src="https://www.morrisminor.org.uk/userfiles/product_asset/.enlarged/5994641ac2ec0-bg4a.jpg" alt="" style="height:290px; width:470px;left:4px; margin-top:50px;">
           -->
            <div class="imgg col-md 12 col-sm-3">
           <div class="">
           <img src="./assets/IoT dashboard.jpg" alt="" width="100%" height="230px" onClick="window.open(this.src)" role="button">
          </div>
          </div>
          <!-- </div> -->
       <div class="ImageContent col-md 12 col-sm-3">
          <div class="">
           <mat-card class= "mat-elevation-z0 outline col-md 12 col-sm-8">
               <mat-card-content
          style="font-size: 15px; font-family: var(--bs-font-sans-serif);  color: #212121;text-align:justify;">
            <h2 style="font-weight: 400;">
               IoT Dashboard
               </h2>
               <p style="text-indent: 1.5cm;">
                An IoT dashboard is the user interface within an IoT platform that enables users to monitor and
                 interact with connected devices though graphs, charts and other tools and UI elements.
                 <p style="text-indent: 1.5px;">
                    Integrated Open Distro dashboards enable advanced IoT analytics visualization, analytics rules, and smart alerts.
               </p>
           </mat-card-content>
          </mat-card>
          </div>
          </div>
        </div>  

        
    
    
     